<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>URL Shortener</title>
        <link href="/static/css/style.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <body>
        <div class="container">
            <h1>URL Shortener</h1>

            <form action="/" method="post" class="form">
                <input type="text" name="url" placeholder="https://google.com">
                <input type="submit" value="Add" class="submit">
            </form>

            {{ if .action }}
                <div class="shorten">
                    Shorten URL: <br>
                    <button id="copy" onclick="copy()">{{ .shorten }}</button>
                </div>
            {{ end }}
        </div>
    </body>

    <script>
    const copy = () => {
        var copyText = document.getElementById("copy").innerText;
        navigator.clipboard.writeText(copyText);
    } 
    </script>
</html>
